/**
 * @file
 * CSS file for Nice Node Add module.
 */

ul.nice-node-add-group {
  list-style-type:none;
}

img.nice-node-add-icon {
  clear:both;
  float:left;
}

div.nice-node-add-info {
  margin-left:74px;
}

.nice-node-add-item {
  min-height:64px;
}